# IDE and Text Editor Stuff
/.idea
/.vs
/.vscode
/Sparrow.code-workspace
/CmakeSettings.json

# Build Files and Folders
/out
/bin
/Build
/build
/cmake-build-debug
/cmake-build-release
/cmake-build-debug-visual-studio

# File I am Using to keep track of the current version of the project
.readme
/examples
