# IDE and Text Editor Stuff
/.idea
/.vs

# Build Files and Folders
/out
/bin
/Build
/build
/cmake-build-debug
/cmake-build-release

# File I am Using to keep track of the current version of the project
.readme